<h1>Showing MLB Game</h1>
 
<table border="1">
  <tr>
    <% @stats.each do |col, val| %>
    	<th><%= col %></th>
    <% end %>
  </tr>
 
    <tr>
    	<% @stats.each do |col, val| %>
    		<td align="center"><%= val %></td>
    	<% end %>
    </tr>
</table>

<%= link_to 'Edit', edit_mlbgame_path(@mlbgame) %>
<%= link_to 'Back', mlbgames_path %>
