<h1>SportPredict - A Stat Based Prediction Model For NBA, NFL, NHL, and MLB</h1>

<%= link_to 'MLB Games', controller: 'mlbgames' %>
<%= link_to 'NFL Games', controller: 'nflgames' %>
<%= link_to 'NBA Games', controller: 'nbagames' %>
<%= link_to 'NHL Games', controller: 'nhlgames' %>
